{% load static %}
{% load i18n %}
{% load wagtailimages_tags %}

<footer class="bg-primary text-dark p-4 flex flex-col gap-2 items-center">
  <div class="container m-auto grid md:grid-cols-3 gap-5">
    <div class="flex flex-col gap-2">
      <h4 class="text-center font-header text-xl">
        {{ settings.cms.CompanyInfoSettings.company_name }}
      </h4>
      {% if settings.cms.CompanyInfoSettings.picture %}
        {% image settings.cms.CompanyInfoSettings.picture original as img %}
        <img src="{{ img.url }}"
             alt="{{ img.alt }}"
             class="rounded-full w-24 h-24 object-cover mx-auto" />
      {% endif %}
      <p class="text-center text-dark italic font-display">
        {{ settings.cms.CompanyInfoSettings.quote }}
      </p>
    </div>
    <div class="flex flex-col gap-2 items-center">
      <h4 class="text-center font-header text-xl">
        {% translate "Stay in touch" %}
      </h4>
      {% if settings.cms.SocialMediaSettings.github %}
        <a href=" {{ settings.cms.SocialMediaSettings.github }}"
           class="flex items-center justify-center underline hover:text-tertiary gap-3"
           target="_blank"
           rel="noopener noreferrer">
          Github
          <img src="{% static 'images/icons/github-mark.svg' %}"
               alt="GitHub"
               class="h-6 w-6" />
        </a>
      {% endif %}
      {% if settings.cms.SocialMediaSettings.linkedin %}
        <a href=" {{ settings.cms.SocialMediaSettings.linkedin }}"
           class="flex items-center justify-center underline hover:text-tertiary gap-3"
           target="_blank"
           rel="noopener noreferrer">
          {% translate "Stay connected on LinkedIn" %}
          <img src="{% static 'images/icons/InBug-Black.png' %}"
               alt="LinkedIn"
               class="h-6 w-6" />
        </a>
      {% endif %}
    </div>
    <div class="flex flex-col gap-2">
      <h4 class="text-center font-header text-xl">
        {% translate "Contact me" %}
      </h4>
      {% if settings.cms.SocialMediaSettings.email %}
        <a href="mailto:{{ social_links.email }}"
           class="flex items-center justify-center underline hover:text-tertiary gap-3">
          {% translate "Email me" %} {{ social_links.email }}
          <c-components.heroicons.outline tag="envelope-open" class="h-6 w-6" />
        </a>
      {% endif %}
    </div>
  </div>
  {% if settings.cms.CopyRightSettings.year and settings.cms.CopyRightSettings.company %}
    <p class="text-center text-secondary">
      © {{ settings.cms.CopyRightSettings.year }} {{ settings.cms.CopyRightSettings.company }}. All rights reserved.
    </p>
  {% endif %}
</footer>
