<c-vars :words="['Hello, World!', 'I am a typewriter effect.', 'I am made with Alpine.js.']"
        speed="100"
        :loop="True" />
<span x-data="{ text: ' ', index: 0, words: {{ words }}, type() { this.text = this.words[this.index].slice(0, this.text.length + 1); if (this.text === this.words[this.index]) { this.index = (this.index + 1) % this.words.length;
  {% if not loop %}
    if (this.index === 0) return;
  {% endif %}
  setTimeout(() => { this.text = ' '; this.type(); }, 1000); } else { setTimeout(() => this.type(), {{ speed }}); } } }" x-init="type" x-text="text" />
