<c-vars button
        slot
        aria_controls
        aria_label
        class />
<div x-data="{ open: false }"
     @keydown.escape.window="open = false"
     class="flex flex-col gap-2">
  <button @click="open = !open"
          type="button"
          aria-expanded="false"
          aria-controls="{{ aria_controls }}"
          aria-label="{{ aria_label }}"
          class="flex m-auto {{ class }}"
          {{ attrs }}>
    {% if button %}
      {{ button }}
    {% else %}
      <c-components.heroicons.outline tag="bars-3" class="text-gray-500 aspect-square" />
    {% endif %}
  </button>
  <div class="absolute top-0 left-0 w-full h-full bg-black/20 bg-opacity-50 backdrop-blur-md flex justify-center items-center p-4 z-50"
       id="{{ aria_controls }}"
       x-show="open"
       x-transition:enter="transition ease-out duration-300"
       x-transition:enter-start="opacity-0"
       x-transition:enter-end="opacity-100"
       x-transition:leave="transition ease-in duration-300"
       x-transition:leave-start="opacity-100"
       x-transition:leave-end="opacity-0">
    <div class="bg-white p-2 w-full rounded-md shadow-md">
      <div class="flex justify-end">
        <button @click="open = false">
          <c-components.heroicons.outline tag="x-mark" class="text-gray-500" />
        </button>
      </div>
      <div x-on:click.away="open = false">
        {{ slot }}
      </div>
    </div>
  </div>
</div>
