{% extends "base.html" %}

{% load i18n %}
{% load tailwind_filters %}

{% block title %}
  {{ user.username }}
{% endblock title %}
{% block content %}
  <c-components.container>
    <c-components.typography.title>
      {{ user.username }}
    </c-components.typography.title>
    <c-components.separator />
    <c-components.form method="post" action="{% url 'users:update' %}" class="flex flex-col gap-2">
      {% csrf_token %}
      {{ form|crispy }}
      <div>
        <div>
          <c-components.form.submit text="{% translate "Update" %}" />
        </div>
      </div>
    </c-components.form>
  </c-components.container>
{% endblock content %}
